.exchange-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 5px;
  flex: 0 0 calc(33.333% - 20px); /* Ajuste o tamanho dos cards conforme necessário */
}

.exchange-card h3 {
  margin-bottom: 5px;
}
