.footer {
  background-color: #283618;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 12.5rem;
}

.footer-logo {
  font-size: 1.625rem;
  font-weight: 600;
}

.footer-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.footer-link {
  margin: 0;
  padding: 0;
  margin-left: 2.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.footer-link button {
  border: none;
  background: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.footer-link button:hover {
  text-decoration: underline;
}
