.principal-section {
  background-image: url("../../../public/fbmpjuprubvt4drbkrpd.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.principal-section .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
}

.principal-section .section-text {
  position: relative;
  text-align: left;
  width: 70%;
}

.principal-section .section-text .section-title {
  font-size: 82px;
  margin: 0;
  color: white;
}

.principal-section .section-text .section-description {
  font-size: 18px;
  color: white;
}

.image-section {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.image-section .text-column {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-section .text-column .section-text {
  text-align: left;
}

.image-section .text-column .section-text .section-title {
  font-size: 42px;
  margin: 0;
}

.image-section .text-column .section-text .section-description {
  font-size: 17px;
}

.image-section .text-column .section-text .green-button {
  background-color: #283618;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image-section .text-column .section-text .green-button .button-text {
  font-size: 14px;
}

.image-section .image-column {
  width: 45%;
}

.image-section .image-column .section-image {
  max-width: 75%;
}
