.groups-list {
  display: flex;
  flex-wrap: wrap;
}

.group-item {
  width: 20%;
  margin-right: 1.5%;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

.group-item:nth-child(4n) {
  margin-right: 0;
}

.group-image {
  width: 100%;
  max-height: 12.5rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.group-info {
  margin-top: 1rem;
}

.group-info h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.group-info p {
  font-size: 0.875rem;
  color: #777;
}
